body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: floralwhite;
    font-size: larger;
}

h1 {
    color: #1F6FEB
}

/* Attribute Selector */

a {

    color: #8B949E;

    text-decoration: none;

}

a:hover {

    color: #1F6FEB;

}

p:not(:first-of-type) {

    text-decoration: underline;

}

ul li::before {

    content: "🚀 ";

}

a::after {

    content: " 🌌";

}

p::first-letter {

    font-size: 200%;

    color: #FF7B72;

}